@font-face {
    font-family: "juni";
    src: url("../fonts/junicode-regularcondensed.woff") format('woff');
}

@font-face {
    font-family: "juni-bold";
    src: url("../fonts/junicode-boldcondensed.woff") format('woff');
}

@font-face {
    font-family: "juni-boldital";
    src: url("../fonts/junicode-bolditaliccondensed.woff") format('woff');
}

@font-face {
    font-family: "juni-ital";
    src: url("../fonts/junicode-italiccondensed.woff") format('woff');
}

@font-face {
    font-family: "notanum";
    src: url("../fonts/NotANumber.woff") format('woff');
}

@mixin small-display {
  font-size: 1.3rem;
  font-family: 'juni-ital', arial;
}

@mixin medium-display {
  font-family: 'juni';
  text-align: center;
  line-height: 1;
  font-size: 2rem;
  @media only screen and (min-width: 834px) {
    font-size: 3rem;
  }

}


@mixin big-display {
  font-family: 'juni';
  text-align: center;
  line-height: 1;
  font-size: 2.5rem;

  @media only screen and (min-width: 834px) {
    font-size: 6rem;
  }
}

@mixin link-display {
  font-family: 'juni';
  text-align: center;
  line-height: 1.2;
  font-size: 1rem;
  @media only screen and (min-width: 834px) {
    font-size: 2rem;
  }

}

html, body {

    //overflow-x: hidden;
}

body {

}

#fullsite {
  height: 100vh;
   overflow-y: scroll;
  scroll-snap-type: y mandatory;

}



#cover{
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  overflow-y: none;

  iframe {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: -1;
  }

  #masthead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 30vh;

    .placement {
      width: calc(100% - 40px);
      //margin: 20px auto 20px auto;
      margin: 40px auto 20px auto;
        //height: 200px;

    }

    .studio {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: calc(100% - 40px);
      margin: 0 auto;

      @media only screen and (min-width: 834px) {
        max-width: 700px;
        margin: 0 auto 0 20px;
      }

      .studio1, .studio2 {
        width: 47%;
        p {
          font-size: 1.6rem;
          font-family: 'juni', arial;
        	font-weight: normal;
          line-height: .9;
          margin: 0 25px 0 auto;

          @media only screen and (min-width: 500px) {
            font-size: 2.4rem;
          }

        }
      }
    }



  }

  #reel {
    //display: flex;
    margin: 0 auto;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}






.sections {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    scroll-snap-align: start;
    height: 100vh; //add this back in if below doesnt work
  //  min-height: 100vh;
  //  min-height: -webkit-fill-available;


    .layer {
      position: relative;
      //overflow-y: hidden;
      &.poster {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    p {

      &.bigtxt {
        @include big-display;
        padding: 20px;
        @media only screen and (min-width: 834px) {
          padding: 90px;
        }
        @media only screen and (min-width: 1024px) {
          padding: 15%;
        }
      }
      &.medtxt {
        @include medium-display;

      }
      &.topleft {
        z-index: 1;
        //background-color: blue;
        position: absolute;
        text-align: left;
        top: 5%;
        left: 5%;
        max-width: 350px;
        @media only screen and (min-width: 1024px) {
          max-width: 650px;
        }

        //@media only screen and (min-width: 834px) {
          //width: 60%;
        //}
      }
    }
}


// #offer, #specialize, #clients {
//   //background-color: white;
//   .layer {
//     width: 100%;
//     margin: 0 auto 0 40px;
//     @media only screen and (min-width: 834px) {
//       //width: calc(100% - 60px);
//     }
//     @media only screen and (min-width: 1024px) {
//       //width: calc(100% - 120px);
//     }
//   }
// }


.slider {
  z-index: 0;
  display: flex;
  height: 100vh;

  ul {
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 0 20px 0;
    margin: 0 auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
    scrollbar-width: none;
    scroll-padding-left: 0px;
    scroll-padding-inline-start: 0px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    @media only screen and (min-width: 834px) {
      height: 100vh;

    }


    li {
      scroll-snap-align: center;

      padding: 0 20px 100px 20px;
      scroll-snap-stop: always;
      flex-shrink: 0;
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      width: 300px;
      //justify-content: flex-end;
      justify-content: center;
      position: relative;
      @media only screen and (min-width: 834px) {
        width: 600px;
        //padding: 0 125px 40px 0;
      }

      &:nth-of-type(1){
        padding: 0 0px 100px 20px;
        justify-content: flex-end;
        @media only screen and (min-width: 834px) {
          padding: 0 40px 40px 40px;
        }
      }

      &.top-align {
        justify-content: flex-start;
        transform: translateY(40px);
      }

      &.bottom-align {
        justify-content: flex-end;
      }

      img {
        height: auto;
        object-fit: contain;
        width: 100%;
      }

      // iframe {
      //     width: 100% !important;
      //     height: 75%;
      //     object-fit: contain;
      //
      // }
  }

      p {
        @include small-display;
        margin: 0;
        padding-top: 10px;

      }

      .slidedescript p {

      }



}
}

.slider ul:-webkit-scrollbar {
  display: none;
}


#what {
  background-color: black;
  p {
    color: white;
    //padding: 15%;
  }
}


.list1 {
  //margin-left: 50px;
}


.list2 {
  //margin-bottom: 30%;
}

#collaborate {
  background-color: #dee3e6;
}


//.collaborate p{
//  color: black;
//  font-family: 'juni';
//  font-size: 80px;
//  padding: 15%;
//  text-align: center;
//     line-height: 100%;
//}


.specialize {
/*  position: relative;
    width: 100%;
		height: 100%;
		min-height:100%;
		background-size:cover;
	background-position:center;
overflow: hidden;
  background-color: white; */
  background-color: white;

}

#clients {
//	min-height:100%;
  background-color: black;
  //padding-top: 10px;
  height: 100vh;
  p{
   color: white;
  }

  #clientcover {
    justify-content: center;
    display: flex;
     flex-wrap: wrap;
     padding: 0 4px;
     height: 100vh;
     margin: 0 auto;
     width: calc(100% - 40px);
  }

  .clientgrid {
    width: 100%;
    padding: 15vh 0 5vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    @media only screen and (min-width: 834px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .clientlogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100%;
        max-width: 70px;
        margin: 0 auto;
        @media only screen and (min-width: 834px) {
          max-width: 140px;
        }
        @media only screen and (min-width: 1024px) {
          max-width: 200px;
        }
      }
    }
}

/*
.clientgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;



  @include big-display;
  padding: 20px;

  @media only screen and (min-width: 1024px) {
    padding: 20px;
  }

  @media only screen and (min-width: 1024px) {
    padding: 15%;
}

  > div {
    background: black;
    padding: 15%;
    position: relative;
    &::before {
      // for apsect ratio
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    img {
      position: absolute;
      max-width: 170px;

      // Alternate Version
      // top: 0;
      // bottom: 0;
      // right: 0;
      // left: 0;
      // margin: auto;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
*/


}


#about {
  background-color: #f2f3f5;
    //  min-height:100%;
      display: flex;
       justify-content: center;
       align-items: center;
  p {
    color: black;
    font-family: 'juni';
    font-size: 1.5rem;
    @media only screen and (min-width: 834px) {
      font-size: 2rem;}

  }
}

#bio {
  justify-content: space-between;
   align-items: center;
     margin: 10%;
    @media only screen and (min-width: 834px) {
   margin: 30%;}


   p {
     text-align: justify;
   }

}

#archive {
  background-color: white;
    //  min-height:100%;
        // display: flex;
      //    justify-content: center;
        //  align-items: center;
        margin-right: 5%;
a {
  font-size: .9rem;
  @media only screen and (min-width: 834px) {
    font-size: 1.8rem;}
}

}

.links {
  @include link-display;
  position: relative;
  text-align: left;
  top: 15%;
  left: 5%;
  a {
    color: #6b97ad;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    line-height: 1.4;
    position: relative;


    &:hover {
      //border-bottom: 1px solid #6b97ad;
      text-decoration: underline;

      span {
        display:block;
        left: 80%;
      }
    }

    span {
      position: absolute;
      display:none;
      z-index:1;
      top: 10%;

      &.bottomlinks {
        background: yellow;
        bottom: 50%;
        top: initial;
      }
    }
  }
}








.movie {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}

.movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  border: 0;
  &.sixteen-nine {
    height: 143%;
  }
  &.nine-sixteen {
  transform: translate(-22%,0%);
  }
}
