@font-face {
  font-family: "juni";
  src: url("../fonts/junicode-regularcondensed.woff") format("woff");
}
@font-face {
  font-family: "juni-bold";
  src: url("../fonts/junicode-boldcondensed.woff") format("woff");
}
@font-face {
  font-family: "juni-boldital";
  src: url("../fonts/junicode-bolditaliccondensed.woff") format("woff");
}
@font-face {
  font-family: "juni-ital";
  src: url("../fonts/junicode-italiccondensed.woff") format("woff");
}
@font-face {
  font-family: "notanum";
  src: url("../fonts/NotANumber.woff") format("woff");
}
#fullsite {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#cover {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
#cover iframe {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: -1;
}
#cover #masthead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 30vh;
}
#cover #masthead .placement {
  width: calc(100% - 40px);
  margin: 40px auto 20px auto;
}
#cover #masthead .studio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media only screen and (min-width: 834px) {
  #cover #masthead .studio {
    max-width: 600px;
    margin: 0 auto 0 20px;
  }
}
#cover #masthead .studio .studio1, #cover #masthead .studio .studio2 {
  width: 47%;
}
#cover #masthead .studio .studio1 p, #cover #masthead .studio .studio2 p {
  font-size: 1.6rem;
  font-family: "juni", arial;
  font-weight: normal;
  line-height: 0.9;
  margin: 0 25px 0 auto;
}
@media only screen and (min-width: 500px) {
  #cover #masthead .studio .studio1 p, #cover #masthead .studio .studio2 p {
    font-size: 2.4rem;
  }
}
#cover #reel {
  margin: 0 auto;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sections {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  scroll-snap-align: start;
  height: 100vh;
}
.sections .layer {
  position: relative;
}
.sections .layer.poster {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sections p.bigtxt {
  font-family: "juni";
  text-align: center;
  line-height: 1;
  font-size: 2.5rem;
  padding: 20px;
}
@media only screen and (min-width: 834px) {
  .sections p.bigtxt {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 834px) {
  .sections p.bigtxt {
    padding: 90px;
  }
}
@media only screen and (min-width: 1024px) {
  .sections p.bigtxt {
    padding: 15%;
  }
}
.sections p.medtxt {
  font-family: "juni";
  text-align: center;
  line-height: 1;
  font-size: 2rem;
}
@media only screen and (min-width: 834px) {
  .sections p.medtxt {
    font-size: 3rem;
  }
}
.sections p.topleft {
  z-index: 1;
  position: absolute;
  text-align: left;
  top: 5%;
  left: 5%;
  max-width: 350px;
}
@media only screen and (min-width: 1024px) {
  .sections p.topleft {
    max-width: 650px;
  }
}

.slider {
  z-index: 0;
  display: flex;
  height: 100vh;
}
.slider ul {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 0 20px 0;
  margin: 0 auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
  scrollbar-width: none;
  scroll-padding-left: 0px;
  scroll-padding-inline-start: 0px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
@media only screen and (min-width: 834px) {
  .slider ul {
    height: 100vh;
  }
}
.slider ul li {
  scroll-snap-align: center;
  padding: 0 20px 60px 20px;
  scroll-snap-stop: always;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  position: relative;
}
@media only screen and (min-width: 834px) {
  .slider ul li {
    width: 600px;
  }
}
.slider ul li:nth-of-type(1) {
  padding: 0 0px 60px 20px;
  justify-content: flex-end;
}
@media only screen and (min-width: 834px) {
  .slider ul li:nth-of-type(1) {
    padding: 0 40px 40px 40px;
  }
}
.slider ul li.top-align {
  justify-content: flex-start;
  transform: translateY(40px);
}
.slider ul li.bottom-align {
  justify-content: flex-end;
}
.slider ul li img {
  height: auto;
  object-fit: contain;
  width: 100%;
}
.slider ul li p {
  font-size: 1.3rem;
  font-family: "juni-ital", arial;
  margin: 0;
  padding-top: 10px;
}
.slider ul:-webkit-scrollbar {
  display: none;
}

#what {
  background-color: black;
}
#what p {
  color: white;
}

#collaborate {
  background-color: #dee3e6;
}

.specialize {
  /*  position: relative;
      width: 100%;
  		height: 100%;
  		min-height:100%;
  		background-size:cover;
  	background-position:center;
  overflow: hidden;
    background-color: white; */
  background-color: white;
}

#clients {
  background-color: black;
  height: 100vh;
  /*
  .clientgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;



    @include big-display;
    padding: 20px;

    @media only screen and (min-width: 1024px) {
      padding: 20px;
    }

    @media only screen and (min-width: 1024px) {
      padding: 15%;
  }

    > div {
      background: black;
      padding: 15%;
      position: relative;
      &::before {
        // for apsect ratio
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      img {
        position: absolute;
        max-width: 170px;

        // Alternate Version
        // top: 0;
        // bottom: 0;
        // right: 0;
        // left: 0;
        // margin: auto;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  */
}
#clients p {
  color: white;
}
#clients #clientcover {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  height: 100vh;
  margin: 0 auto;
  width: calc(100% - 40px);
}
#clients .clientgrid {
  width: 100%;
  padding: 15vh 0 5vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
@media only screen and (min-width: 834px) {
  #clients .clientgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
#clients .clientgrid .clientlogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#clients .clientgrid .clientlogo img {
  width: 100%;
  max-width: 70px;
  margin: 0 auto;
}
@media only screen and (min-width: 834px) {
  #clients .clientgrid .clientlogo img {
    max-width: 140px;
  }
}
@media only screen and (min-width: 1024px) {
  #clients .clientgrid .clientlogo img {
    max-width: 200px;
  }
}

#about {
  background-color: #f2f3f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about p {
  color: black;
  font-family: "juni";
  font-size: 1.5rem;
}
@media only screen and (min-width: 834px) {
  #about p {
    font-size: 2rem;
  }
}

#bio {
  justify-content: space-between;
  align-items: center;
  margin: 10%;
}
@media only screen and (min-width: 834px) {
  #bio {
    margin: 30%;
  }
}
#bio p {
  text-align: justify;
}

#archive {
  background-color: white;
  margin-right: 5%;
}
#archive a {
  font-size: 0.9rem;
}
@media only screen and (min-width: 834px) {
  #archive a {
    font-size: 1.8rem;
  }
}

.links {
  font-family: "juni";
  text-align: center;
  line-height: 1.2;
  font-size: 1rem;
  position: relative;
  text-align: left;
  top: 15%;
  left: 5%;
}
@media only screen and (min-width: 834px) {
  .links {
    font-size: 2rem;
  }
}
.links a {
  color: #6b97ad;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  line-height: 1.4;
  position: relative;
}
.links a:hover {
  text-decoration: underline;
}
.links a:hover span {
  display: block;
  left: 80%;
}
.links a span {
  position: absolute;
  display: none;
  z-index: 1;
  top: 10%;
}
.links a span.bottomlinks {
  background: yellow;
  bottom: 50%;
  top: initial;
}

.movie {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}

.movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  border: 0;
}
.movie iframe.sixteen-nine {
  height: 143%;
}

/*# sourceMappingURL=style.css.map */
