@font-face {
    font-family: "juni";
    src: url("../fonts/junicode-regularcondensed.woff") format('woff');
}

@font-face {
    font-family: "juni-bold";
    src: url("../fonts/junicode-boldcondensed.woff") format('woff');
}

@font-face {
    font-family: "juni-boldital";
    src: url("../fonts/junicode-bolditaliccondensed.woff") format('woff');
}

@font-face {
    font-family: "juni-ital";
    src: url("../fonts/junicode-italiccondensed.woff") format('woff');
}

@font-face {
    font-family: "notanum";
    src: url("../fonts/NotANumber.woff") format('woff');
}

html, body {

    overflow-x: hidden;
}

body {

}

#fullsite {
  height: 100vh;
   overflow-y: scroll;
  scroll-snap-type: y mandatory;

}

#intro {
display: flex;
  height: 100vh;
scroll-snap-align: start;

}

.reel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
   z-index: -1;
}


#grid {
  height: 100vh;
}

#container {
  display: flex;
  height: 100vh;
  position: relative;
}

#launch {
  position: relative;
  margin-left: 20px;
    margin-top: -75px;
}

.placement {
  font-family: 'notanum', arial;
  font-size: 75px;
  margin-left: 20px;

}


.studio {
  display: grid;
grid-template-columns: 30% 30% 30%;
  margin-left: 20px;
  margin-top: -200px;
}

.studio p {
  font-family: 'juni', arial;
	font-weight:normal;
   line-height: 80%;
}

.studio1 {
grid-column: 1;
font-size: 40px;
}

.studio2 {
grid-column: 2;
    font-size: 40px;
     align-items: right;
     margin-left: 20%;
}




#sections {
 position: relative;
  height: 100vh;
    background-size:cover;
    background-position:center;
    overflow: hidden;
    scroll-snap-align: start;

    /*
    display: flex;
    height:100%;
    width:100%;*/
}

.topleft  {
  margin-left: 20px;
    margin-right: 50%;
  	grid-column: 1 / 7;
    font-size: 40px;
   font-family: 'juni', arial;
  	font-weight:normal;
    line-height: 80%;
    z-index: 1;
    background-color: blue;
    position: absolute;
}

.what p{
  color: white;
	font-family: 'juni';
  font-size: 80px;
  padding: 15%;
text-align: center;
   line-height: 100%;
}

.what {
  background-color: black;
      min-height:100%;
      display: flex;
       justify-content: center;
       align-items: center;
}


.offer {
  background-color: white;
}

.slider {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   z-index: 0;
   position: absolute;
   margin-left: 50px;

}

.slider ul {
  display: flex;
  flex-direction: row;
  padding: 0 0 20px 0;
  margin: 0 auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
  scrollbar-width: none;
  scroll-padding-left: 0px;
  scroll-padding-inline-start: 0px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.slider ul:-webkit-scrollbar {
  display: none;
}

.slider ul li {
  scroll-snap-align: center;
  padding: 0 50px 0 0;
  scroll-snap-stop: always;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: flex-end;
}

.slider ul li img {
  height: auto;
  object-fit: contain;
  width: 100%;
}

.slider p{
  font-size: 20px;
  font-family: 'juni-ital', arial;
}

.list1 {
  margin-left: 50px;
}


.list2 {
  margin-bottom: 30%;
}

.collaborate {
  background-color: #f2f3f5;
      min-height:100%;
      display: flex;
       justify-content: center;
       align-items: center;
}


.collaborate p{
  color: black;
  font-family: 'juni';
  font-size: 80px;
  padding: 15%;
  text-align: center;
     line-height: 100%;
}


.specialize {
/*  position: relative;
    width: 100%;
		height: 100%;
		min-height:100%;
		background-size:cover;
	background-position:center;
overflow: hidden;
  background-color: white; */
  background-color: white;

}

.clients{
	min-height:100%;
  background-color: black;
  padding-top: 10px;
}

.clients p{
  color: white;

}


.about{
  background-color: #f2f3f5;
      min-height:100%;
      display: flex;
       justify-content: center;
       align-items: center;
}

.about p{
  color: black;
  font-family: 'juni';
  font-size: 25px;
  padding: 15%;
}
